<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/article/detail.css}" rel="stylesheet">
</head>
<body>

<div>
    <div th:text="${result.id()}"></div>
    <div th:text="${result.title()}"></div>
    <div th:text="${result.content()}"></div>
    <div th:text="${result.hashtag()}">null</div>
    <div>------------comments---------------</div>
    <div th:each="item : ${result.comments()}">
        <div th:text="${item.content()}"></div>
    </div>
</div>

</body>
</html>